@import '/css/commons.css';
@import '/css/nav.css';
@import '/css/footer.css';

body {
  background-color: #f4f4f4;
}

.menu {
  width: 100%;
  padding-inline: 60px;
  background-color: black;
}

main {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 1000px;
  margin-block: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.select-plan {
    width: 180px;
    padding: 12px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    background: #fbc531;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
	margin-bottom: 40px;
}

.select-plan:hover {
    background: #e1b12c;
}

.change-btn {
  padding: 6px 12px;
  margin-top: 8px;
  background-color: #f4f4f4;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}

.change-btn:hover {
  background-color: #e1e1e1;
}

/* Ajuste responsivo */
@media (max-width: 400px) {
  td:nth-child(odd),
  th:nth-child(odd) {
    display: none;
  }

  .change-btn {
    padding: 4px 8px;
    font-size: 0.7rem;
  }

  .menu {
    padding-inline: 5px;
  }

  .logo {
    height: 40px;
    width: auto;
  }

  .login-btn {
    height: 30px;
    width: auto;
    font-size: 15px;
  }
}