@import '/css/admin/addForm.css';
@import '/css/commons.css';
@import '/css/nav.css';
@import '/css/footer.css';

body {
    background-color: #f4f4f4;
}

main {
    min-height: 84vh;
    display: flex;
    align-items: center;
}
  
.menu {
    width: 100%;
    padding-inline: 60px;
    background-color: black;
}

.container {
	width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

/* Para Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
