.content {
	height: 150px;
    width: 290px;
    transition: transform 0.3s ease;
    z-index: 1;
}

.content:hover {
    transform: scale(1.05);
    z-index: 10;
}

.content img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.content .info {
    margin: 0;
    padding-top: 4px;
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.85);
    color: white;;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    max-height: 100px;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
  }
  
  .content:hover .info {
    opacity: 1;
  }

    .content .info p {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

    .content .info h3 {
    margin: 0;
    padding: 0;
    font-size: 18px;
  }