header {
	position: relative;
	z-index: 1001;
}

.menu {
    width: 100%;
    margin-inline: auto;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
	 transition: background-color 0.2s ease-out;
}

.scrolled { /*Clase a la que cambia el menu al scrollear*/
    position: fixed;
    top: 0;
    left: 50%; /* Mueve el menú al centro */
    transform: translateX(-50%); /* Lo ajusta para que se mantenga centrado */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    font-size: 15px;
    background-color: var(--color-background-dark);
    z-index: 1000;
	 transition: background-color 0.2s ease-in;
}

.nav {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-block: 10px;
}

/*LEFT MENU*/
.left-nav {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    gap: 40px;
}

.logo {
    width: 230px;
    height: 55px;
}

.left-nav-links {
    display: none;
	transition: color 0.3s ease;
}

.left-nav-links a {
	transition: color 0.3s ease;
}

.left-nav-links a:hover {
    color: var(--unlink-users-btn-hover);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
	border: 1px solid var(--color-gray-dark);
    top: 100%;
    left: 0;
    display: none;
    flex-direction: column;
    background-color: var(--color-background-dark);
    min-width: 200px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1002;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}

.dropdown-menu li {
    padding: 8px 20px;
    transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
    background-color: var(--color-gray-dark) !important;
}

.dropdown-menu li:hover a {
    color: var(--color-primary) !important;
}

.dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
}

.scrolled .dropdown-menu {
    background-color: var(--color-background-dark); 
    border: 1px solid var(--color-gray-dark);
}

/* Asegurar que el dropdown funcione en móviles con un click */
@media (max-width: 991px) {
    .dropdown-menu {
        position: static;
        display: none;
    }
    
    .dropdown.active .dropdown-menu {
        display: flex;
    }
}

@media (min-width: 992px) {
    .left-nav-links {
        display: flex;
    }
}

/*RIGHT MENU*/
.right-nav {
    display: flex;
    gap: 40px;
}

.right-nav li:nth-child(1) {
    width: 32px;  
	transition: transform 0.3s ease;
}

.user {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--color-primary);
	transition: transform 0.3s ease;
}

.user:hover,
.right-nav li:nth-child(1):hover {
    transform: scale(1.1);
}

.unlogged-buttons {
	display: flex;
	align-items: center;
	gap: 15px;
}

.login-btn,
.signup-btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
	min-width: 140px;
}

.login-btn {
	background: transparent;
	border: 2px solid var(--color-primary);
	color: white;
}

.signup-btn {
	background: var(--unlink-users-btn-hover);
	border: none;
	color: var(--color-background-dark);
	transform: scale(105%);
}

.login-btn:hover,
.signup-btn:hover {
    filter: brightness(0.9);
}