@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import '/css/commons.css';

body, html {
    background-color: black;
    height: 100%;
    width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#my-video {
    width: 100%;
    height: 100%;
}

.vjs-big-play-button {
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#iframe-container {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

#iframe-without-ads {
	width: 100vw;
	height: 100vh;
	border: none;
}

