@import '/css/commons.css';
@import '/css/banner.css';
@import '/css/nav.css';
@import '/css/footer.css';
@import '/css/grid-films.css';
@import '/css/spinner.css';

.background-banner {
    height: 80vh;
    width: 100%;
    overflow: hidden;
}

.banner {
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 10%,
        rgba(0, 0, 0, 0) 90%,
        rgba(0, 0, 0, 1) 100%
    );
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
        to top right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.9) 25%,
        rgba(0, 0, 0, 0.8) 35%,
        rgba(0, 0, 0, 0.7) 40%,
        rgba(0, 0, 0, 0) 60%   
    );
    z-index: -1;
    pointer-events: none;
}

.play-button {
    position: relative;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.play-button:hover {
    filter: brightness(0.9);
    box-shadow: 0 12px 25px rgba(103, 78, 212, 0.4);
}

.play-button::after {
    content: "▶";
    font-size: 14px;
    transition: transform 0.2s ease;
}

.play-button:hover::after {
    transform: scale(1.2);
}

.favorite-button i {
    font-size: 1.25rem;
    color: white;
}

.favorite-button .fas {
    color: #a777e3;
}

.favorite-button:hover {
    background: rgba(255, 255, 255, 0.2);
}

.tab {
    cursor: pointer;
    transition: color 0.3s ease;
}

.tab:hover .nav-link {
    color: var(--color-primary) !important;
}

.tab .nav-link.active {
    color: var(--color-primary) !important;
    border-bottom: 3px solid var(--color-primary) !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.keyword-link {
    background: var(--color-gray-darker);
    padding: 3px 10px;
    border-radius: 15px;
    transition: background-color 0.3s ease;
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

.keyword-link:hover {
    background: var(--unlink-users-btn-hover);
    color: white;
}

#content-info a, #tags {
    transition: color 0.3s ease;
}

#content-info a:hover, #tags:hover {
    color: var(--unlink-users-btn-hover);
}

#gender,
#duration,
#tagline,
#overview-text,
.keyword-link {
    font-weight: bold;
}

#gender:hover {
    color: var(--unlink-users-btn-hover) !important;
}

.scrolled {
    background-color: black;
}

/* Ajustes responsivos */
@media (min-width: 1400px) {
    #tab-content,
    #tabs-container-id {
        margin-inline: 80px;
    }
}

@media (max-width: 768px) {
    .background-banner, .banner {
        height: 70vh;
    }
    
    #content-container {
        padding-top: 150px;
    }
    
    #content-title {
        font-size: 1.8rem;
    }
    
    #img-title {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    #button-tagline {
        text-align: center;
        align-items: center;
    }
    
    .button-group {
        justify-content: center;
    }

    #content-image {
        display: none;
    }
}

@media (max-width: 992px) {
    .content .info {
        opacity: 1;
    }
}

@media (max-width: 576px) {
    .background-banner, .banner {
        height: 60vh;
    }
    
    #content-title {
        font-size: 1.5rem;
    }
    
    #tagline {
        display: none;
    }

    .play-button {
        font-size: 14px;
        width: 160px;
		height: 45px;
        padding: 0 !important;
    }

    .content {
        height: 300px;
    }

    .content .info {
        justify-content: center !important;
    }
}

