#ErrorDocument 404 /404.html

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
	
    # ----------------------------------------------------------------------
    # Reglas para el FRONTEND
    # ----------------------------------------------------------------------
	
    # Excluir archivos estáticos (JS, CSS, imágenes, etc.)
    RewriteCond %{REQUEST_URI} !\.(js|css|png|jpg|jpeg|gif|svg|mp4|webm|ogg|mp3|wav|woff|woff2|ttf|eot)$ [NC]
    
    # Redirigir rutas específicas del frontend
    RewriteRule ^login$ /login.html [L]
    RewriteRule ^registro$ /register.html [L]
    RewriteRule ^recuperar-password$ /restore-password.html [L]
    RewriteRule ^registro-free$ /short-register.html [L]
    RewriteRule ^registro/metodo-de-pago$ /register-payment-method.html [L]
    RewriteRule ^alquiler-metodo-de-pago$ /rent-payment-method.html [L]
    RewriteRule ^ppv-metodo-de-pago$ /ppv-payment-method.html [L]
    RewriteRule ^nuevo-dispositivo$ /new-device.html [L,QSA]
    RewriteRule ^verificar-email$ /email-verification-required.html [L,QSA]
    RewriteRule ^email-verificado-con-exito$ /email-verification-success.html [L,QSA]
    RewriteRule ^manage-devices$ /manage-devices.html [L,QSA]
    RewriteRule ^gestionar-planes$ /manage-plans.html [L,QSA]
    RewriteRule ^stream-limit$ /stream-limit.html [L,QSA]
    RewriteRule ^player/([^/]+)$ /player.html [L,QSA]
    RewriteRule ^admin/player/ad/([^/]+)$ /admin/ad-player.html [L,QSA]
    RewriteRule ^account$ /account.html [L,QSA]
    RewriteRule ^datos-de-facturacion$ /need-user-dni.html [L,QSA]
    RewriteRule ^cambiar-email$ /change-email.html [L,QSA]
    RewriteRule ^cambiar-telefono$ /change-phone.html [L,QSA]
    RewriteRule ^cambiar-direccion$ /change-address.html [L,QSA]
    RewriteRule ^cambiar-password$ /change-password.html [L,QSA]
    RewriteRule ^pagina-no-encontrada$ /404.html [L,QSA]
	
    # Solo permitir si el Referer es nuestro dominio
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.kmc\.es/ [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.test/ [NC]
    RewriteRule ^(secure-stream|proxy/(ts|hls))/ - [F,L]

    # Facturas
    RewriteCond %{REQUEST_URI} ^/bill/[^/]+/download$
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.kmc\.es/ [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.test/ [NC]
    RewriteRule ^ - [F,L]
    
    # Redirigir a show.html solo si es HTML y no API, archivo o directorio
    RewriteCond %{HTTP_ACCEPT} text/html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !^/api/
    RewriteRule ^contenido/(.*)$ /show.html [L]
	
    # ----------------------------------------------------------------------
    # Reglas para el BACKEND (Laravel)
    # ----------------------------------------------------------------------
    # Bloquear acceso directo a archivos multimedia (excepto desde dominios permitidos)
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.kmc\.es/ [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.test/ [NC]
    RewriteCond %{REQUEST_URI} ^/file/.*\.(mpeg|mp4|mp3|m3u8|avi|mov|ts)$ [NC]
    RewriteRule ^ - [F,L]

	## Bloquear acceso directo a archivos PDF (excepto desde el dominio permitido)
	RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.kmc\.es/ [NC]
    RewriteCond %{HTTP_REFERER} !^https://(www\.)?pruebastv\.test/ [NC]
	RewriteCond %{REQUEST_URI} \.pdf$ [NC]
	RewriteRule ^ - [F,L]

    # Manejar headers de autorización
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Manejar X-XSRF-Token
    RewriteCond %{HTTP:X-XSRF-TOKEN} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-TOKEN}]

    # Redirigir trailing slashes
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Enviar todo lo demás al controlador de Laravel (excepto rutas del frontend)
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>