.list {
    margin-top: 20px;
}

.list table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.list th {
    background-color: #343a40;
    color: white;
    padding: 12px;
    text-align: left !important;
}

.list td {
    padding: 12px;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
	text-align: left !important;
}

.list img {
    border-radius: 4px;
    max-width: 150px;
}

.list .dropdown-menu {
    min-width: 100px;
}

.actions-container {
    position: relative;
    display: inline-block;
}

.actions-button,
.add-button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
	transition: background-color 0.3s ease;
}

.add-button {
	background-color: #e94560;
	font-weight: bold;
	display: inline-block;
	position: absolute;
	top: 13px;
	right: 40px;
	margin: 8px; /* opcional, para que no esté pegado al borde */
	height: 32px;
	width: 160px;
	text-align: center;
}

.add-content {
	right: -5px;
}

.add-button-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.actions-button:hover {
    background-color: #45a049;
}

.add-button:hover {
	background-color: #16213e;
}

.actions-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.actions-menu a,
.actions-menu button {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 14px;
    width: 100%;
    background-color: #f9f9f9;
    border: none;
}

.actions-menu a:hover,
.actions-menu button:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.cover-image {
    max-width: 100px;
    max-height: 60px;
    border-radius: 4px;
}

#list-genders,
#list-categories {
	max-width: 900px;
}

.dt-length, .dt-search {
    display: flex;
    align-items: center;
}

.dt-length label, .dt-search label {
    margin-right: 8px;
    margin-bottom: 0;
}

.dt-input {
    width: auto; /* Asegura que no ocupe el 100% */
}

.dt-column-header {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.dt-column-title {
    order: 1 !important;
}

.dt-column-order {
    order: 2 !important;
}